PORT=3009
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.jmc3qqp.mongodb.net
PORT=3005
CORS_ORIGIN=*
NODE_ENV=development
ACCESS_TOKEN_SECRET=thisIsadlkfjaklsjalkTokenSEcretkajsdfkj
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=thiiasfarefhreshtokenfortuebRoseASDF
REFRESH_TOKEN_EXPIRY=14d